In [44]:
import numpy as np
import pandas as pd

In [45]:
df=pd.read_csv('videoGames.csv')

In [46]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales;
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74;
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24;
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82;
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33;
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37;
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01;
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01;
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01;
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01;
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01;

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           16598 non-null  object
 1   Name           16475 non-null  object
 2   Platform       16475 non-null  object
 3   Year           16206 non-null  float64
 4   Genre          16475 non-null  object
 5   Publisher      16418 non-null  object
 6   NA_Sales       16474 non-null  float64
 7   EU_Sales       16474 non-null  float64
 8   JP_Sales       16474 non-null  float64
 9   Other_Sales    16474 non-null  float64
 10  Global_Sales;  16475 non-null  object
dtypes: float64(5), object(6)
memory usage: 1.4+ MB

In [48]:
df.isnull().sum()

Rank               0
Name             123
Platform         123
Year             392
Genre            123
Publisher        180
NA_Sales         124
EU_Sales         124
JP_Sales         124
Other_Sales      124
Global_Sales;    123
dtype: int64

In [49]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales;
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74;
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24;
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82;
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33;
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37;

In [50]:
df.Publisher.nunique()

573

In [111]:
df.groupby('Publisher')['JP_Sales'].mean().sort_values(ascending=False)

Publisher
Enix Corporation       1.046452
SquareSoft             0.771731
Quest                  0.710000
Nintendo               0.641154
ASCII Entertainment    0.470000
                         ...
Knowledge Adventure    0.000000
Kando Games            0.000000
Just Flight            0.000000
Jack of All Games      0.000000
responDESIGN           0.000000
Name: JP_Sales, Length: 573, dtype: float64

In [112]:
df.groupby('Publisher')['NA_Sales'].mean().sort_values(ascending=False)[0]

3.38

In [51]:
df.groupby('Publisher')['NA_Sales'].mean()

Publisher
10TACLE Studios                 0.023333
1C Company                      0.003333
20th Century Fox Video Games    0.364000
2D Boy                          0.000000
3DO                             0.180286
                                  ...
iWin                            0.000000
id Software                     0.020000
imageepoch Inc.                 0.000000
inXile Entertainment            0.020000
responDESIGN                    0.045000
Name: NA_Sales, Length: 573, dtype: float64

In [52]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,16206.0,2006.401888,5.841174,1980.0,2003.0,2007.00,2010.00,2020.00
NA_Sales,16474.0,0.265197,0.816712,0.0,0.0,0.08,0.24,41.49
EU_Sales,16474.0,0.146918,0.504221,0.0,0.0,0.02,0.11,29.02
JP_Sales,16474.0,0.077846,0.309389,0.0,0.0,0.00,0.04,10.22
Other_Sales,16474.0,0.048255,0.189229,0.0,0.0,0.01,0.04,10.57

In [53]:
df.describe(include='all')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales;
count,16598,16475,16475,16206.000000,16475,16418,16474.000000,16474.000000,16474.000000,16474.000000,16475
unique,16598,11403,31,NaN,12,573,NaN,NaN,NaN,NaN,635
top,1,Need for Speed: Most Wanted,PS2,NaN,Action,Electronic Arts,NaN,NaN,NaN,NaN,0.02;
freq,1,12,2144,NaN,3293,1351,NaN,NaN,NaN,NaN,1054
mean,NaN,NaN,NaN,2006.401888,NaN,NaN,0.265197,0.146918,0.077846,0.048255,NaN
std,NaN,NaN,NaN,5.841174,NaN,NaN,0.816712,0.504221,0.309389,0.189229,NaN
min,NaN,NaN,NaN,1980.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,NaN,NaN,2003.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN
50%,NaN,NaN,NaN,2007.000000,NaN,NaN,0.080000,0.020000,0.000000,0.010000,NaN
75%,NaN,NaN,NaN,2010.000000,NaN,NaN,0.240000,0.110000,0.040000,0.040000,NaN
max,NaN,NaN,NaN,2020.000000,NaN,NaN,41.490000,29.020000,10.220000,10.570000,NaN

In [54]:
df.agg([min,max])

C:\Users\MASTER\AppData\Local\Temp\ipykernel_16100\3853408429.py:1: FutureWarning: ['Name', 'Platform', 'Genre', 'Publisher', 'Global_Sales;'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg([min,max])

     Rank    Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales
min     1  1980.0      0.00      0.00      0.00         0.00
max  9999  2020.0     41.49     29.02     10.22        10.57

In [55]:
df.EU_Sales.value_counts()

0.00     5675
0.01     1481
0.02     1264
0.03      929
0.04      743
         ...
2.32        1
1.88        1
2.86        1
6.06        1
29.02       1
Name: EU_Sales, Length: 304, dtype: int64

In [56]:
df.sort_values(by="JP_Sales",ascending=False)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales;
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37;
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,NaN,6.18,7.20,0.71,23.1;
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24;
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01;
20,21,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36;
...,...,...,...,...,...,...,...,...,...,...,...
16445,"16448,Wade Hixton's Counter Punch,GBA,2004,Spo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16460,"16463,""Horse Life 4: My Horse, My Friend, My C...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16477,"16480,""Shinobi, Koi Utsutsu: Setsugetsuka Koi ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16501,"16504,""Transformers: War for Cybertron (XBox 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16564,"16567,Original Frisbee Disc Sports: Ultimate &...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df.set_index("Rank",drop=True,inplace=True)

In [ ]:
df.set_index()

In [108]:
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales;
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74;
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24;
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82;
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33;
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37;
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01;
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01;
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01;
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01;
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01;

In [58]:
df["NA_Sales"].fillna(0)

0        41.49
1        29.08
2        15.85
3        15.75
4        11.27
         ...
16593     0.01
16594     0.01
16595     0.00
16596     0.00
16597     0.01
Name: NA_Sales, Length: 16598, dtype: float64

In [59]:
df["EU_Sales"].isnull().sum()

124

In [60]:
df["EU_Sales"].mean()

0.1469181740925425

In [61]:
df["EU_Sales"].fillna(df["EU_Sales"].mean())

0        29.02
1         3.58
2        12.88
3        11.01
4         8.89
         ...
16593     0.00
16594     0.00
16595     0.00
16596     0.01
16597     0.00
Name: EU_Sales, Length: 16598, dtype: float64

In [62]:
df["EU_Sales"].sample(10)

6307     0.10
4283     0.18
15740    0.00
3045     0.05
1171     0.60
9006     0.05
5074     0.01
12906    0.02
15230    0.00
10817    0.04
Name: EU_Sales, dtype: float64

In [63]:
df["Publisher"].fillna(method="bfill",inplace=True)

In [64]:
df["Publisher"].isnull().sum()

0

In [65]:
df["Genre"].isnull().sum()

123

In [66]:
abc = df[df["Genre"].isnull()].index.tolist()

In [67]:
abc[0]

943

In [68]:
df[df["Genre"].isnull()].index

Int64Index([  943,  1091,  1626,  1833,  2409,  2888,  2918,  3049,  3089,
             3216,
            ...
            16262, 16372, 16409, 16410, 16418, 16445, 16460, 16477, 16501,
            16564],
           dtype='int64', length=123)

In [69]:
df["Genre"][943]

nan

In [70]:
df["Genre"].fillna(method="bfill",inplace=True)

In [71]:
df["Genre"][943]

'Misc'

In [73]:
df["Genre"][944]

'Misc'

In [80]:
df["Genre"][942]

'Sports'

In [74]:
df["Genre"].isnull().sum()

0

In [81]:
np.where(df['column_name'].isnull() == False)[0]

KeyError: 'column_name'

In [75]:
df.groupby("Genre").agg([min,max])

C:\Users\MASTER\AppData\Local\Temp\ipykernel_16100\3259976704.py:1: FutureWarning: ['Name', 'Platform', 'Global_Sales;'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby("Genre").agg([min,max])

               Rank          Year                             Publisher  \
                min   max     min     max                           min
Genre
Action         1000  9996  1980.0  2017.0  20th Century Fox Video Games
Adventure     10023  9999  1983.0  2016.0               10TACLE Studios
Fighting      10001  9987  1980.0  2016.0                           3DO
Misc          10003  9993  1980.0  2016.0                     505 Games
Platform      10015  9967  1981.0  2016.0                           3DO
Puzzle        10017  9989  1981.0  2015.0               10TACLE Studios
Racing        10005  9998  1981.0  2016.0                    1C Company
Role-Playing  10002  9991  1986.0  2017.0                    1C Company
Shooter          10  9997  1980.0  2016.0  20th Century Fox Video Games
Simulation     1002  9978  1981.0  2020.0                     505 Games
Sports            1  9994  1980.0  2016.0                           3DO
Strategy      10006  9980  1991.0  2016.0               10TACLE Studios

                                     NA_Sales        EU_Sales        JP_Sales  \
                                 max      min    max      min    max      min
Genre
Action               dramatic create      0.0   9.63      0.0   9.27      0.0
Adventure            imageepoch Inc.      0.0   6.16      0.0   2.79      0.0
Fighting      Zoo Digital Publishing      0.0   6.75      0.0   2.61      0.0
Misc                     Zushi Games      0.0  14.97      0.0   9.26      0.0
Platform      Zoo Digital Publishing      0.0  29.08      0.0   9.23      0.0
Puzzle                          iWin      0.0  23.20      0.0   5.36      0.0
Racing             bitComposer Games      0.0  15.85      0.0  12.88      0.0
Role-Playing    inXile Entertainment      0.0  11.27      0.0   8.89      0.0
Shooter                  id Software      0.0  26.93      0.0   5.88      0.0
Simulation                    fonfun      0.0   9.07      0.0  11.00      0.0
Sports                  responDESIGN      0.0  41.49      0.0  29.02      0.0
Strategy                 Zushi Games      0.0   3.18      0.0   2.27      0.0

                    Other_Sales
                max         min    max
Genre
Action         3.96         0.0  10.57
Adventure      2.69         0.0   0.83
Fighting       2.87         0.0   1.41
Misc           4.16         0.0   2.85
Platform       6.81         0.0   2.90
Puzzle         5.32         0.0   1.18
Racing         4.13         0.0   7.53
Role-Playing  10.22         0.0   1.74
Shooter        1.44         0.0   2.52
Simulation     5.33         0.0   2.75
Sports         3.77         0.0   8.46
Strategy       1.61         0.0   0.59

In [76]:
c = df.groupby("Publisher")

In [77]:
c.corr()

                                 Year  NA_Sales  EU_Sales  JP_Sales  \
Publisher
10TACLE Studios Year         1.000000  0.359211  0.188982       NaN
                NA_Sales     0.359211  1.000000 -0.848555       NaN
                EU_Sales     0.188982 -0.848555  1.000000       NaN
                JP_Sales          NaN       NaN       NaN       NaN
                Other_Sales       NaN       NaN       NaN       NaN
...                               ...       ...       ...       ...
responDESIGN    Year         1.000000 -1.000000       NaN       NaN
                NA_Sales    -1.000000  1.000000       NaN       NaN
                EU_Sales          NaN       NaN       NaN       NaN
                JP_Sales          NaN       NaN       NaN       NaN
                Other_Sales  1.000000 -1.000000       NaN       NaN

                             Other_Sales
Publisher
10TACLE Studios Year                 NaN
                NA_Sales             NaN
                EU_Sales             NaN
                JP_Sales             NaN
                Other_Sales          NaN
...                                  ...
responDESIGN    Year                 1.0
                NA_Sales            -1.0
                EU_Sales             NaN
                JP_Sales             NaN
                Other_Sales          1.0

[2865 rows x 5 columns]

In [79]:
df.dtypes

Rank              object
Name              object
Platform          object
Year             float64
Genre             object
Publisher         object
NA_Sales         float64
EU_Sales         float64
JP_Sales         float64
Other_Sales      float64
Global_Sales;     object
dtype: object

In [82]:
df.filter(like="Sales" ,axis=1)

       NA_Sales  EU_Sales  JP_Sales  Other_Sales Global_Sales;
0         41.49     29.02      3.77         8.46        82.74;
1         29.08      3.58      6.81         0.77        40.24;
2         15.85     12.88      3.79         3.31        35.82;
3         15.75     11.01      3.28         2.96           33;
4         11.27      8.89     10.22         1.00        31.37;
...         ...       ...       ...          ...           ...
16593      0.01      0.00      0.00         0.00         0.01;
16594      0.01      0.00      0.00         0.00         0.01;
16595      0.00      0.00      0.00         0.00         0.01;
16596      0.00      0.01      0.00         0.00         0.01;
16597      0.01      0.00      0.00         0.00         0.01;

[16598 rows x 5 columns]

In [83]:
df_num = df.select_dtypes(include="number")

In [84]:
df_num

         Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0      2006.0     41.49     29.02      3.77         8.46
1      1985.0     29.08      3.58      6.81         0.77
2      2008.0     15.85     12.88      3.79         3.31
3      2009.0     15.75     11.01      3.28         2.96
4      1996.0     11.27      8.89     10.22         1.00
...       ...       ...       ...       ...          ...
16593  2002.0      0.01      0.00      0.00         0.00
16594  2003.0      0.01      0.00      0.00         0.00
16595  2008.0      0.00      0.00      0.00         0.00
16596  2010.0      0.00      0.01      0.00         0.00
16597  2003.0      0.01      0.00      0.00         0.00

[16598 rows x 5 columns]

In [85]:
df.NA_Sales.transform(np.sqrt)

0        6.441273
1        5.392588
2        3.981206
3        3.968627
4        3.357082
           ...
16593    0.100000
16594    0.100000
16595    0.000000
16596    0.000000
16597    0.100000
Name: NA_Sales, Length: 16598, dtype: float64

In [86]:
df.NA_Sales.transform(np.exp)

0        1.044427e+18
1        4.258764e+12
2        7.648346e+06
3        6.920510e+06
4        7.843300e+04
             ...
16593    1.010050e+00
16594    1.010050e+00
16595    1.000000e+00
16596    1.000000e+00
16597    1.010050e+00
Name: NA_Sales, Length: 16598, dtype: float64

In [87]:
df.groupby("Genre")["NA_Sales"].transform("mean")

0        0.291906
1        0.507711
2        0.288178
3        0.291906
4        0.215037
           ...
16593    0.507711
16594    0.447562
16595    0.288178
16596    0.212872
16597    0.507711
Name: NA_Sales, Length: 16598, dtype: float64

In [88]:
df.isnull().sum()

Rank               0
Name             123
Platform         123
Year             392
Genre              0
Publisher          0
NA_Sales         124
EU_Sales         124
JP_Sales         124
Other_Sales      124
Global_Sales;    123
dtype: int64

In [89]:
df["EU_Sales"].fillna(df["EU_Sales"].mean(),inplace=True)

In [90]:
df["NA_Sales"].fillna(df["NA_Sales"].mean(),inplace=True)

In [91]:
df["JP_Sales"].fillna(df["JP_Sales"].mean(),inplace=True)

In [95]:
df.isnull().sum()

Rank               0
Name             123
Platform         123
Year             392
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales;    123
dtype: int64

In [93]:
df["Other_Sales"].fillna(df["Other_Sales"].median(),inplace=True)

In [94]:
df["Other_Sales"].isnull().sum()

0

In [110]:
df["Rank"]

KeyError: 'Rank'

In [109]:
df[df["Rank"].str.isnumeric()==False]

KeyError: 'Rank'

In [114]:
df = df.rename(columns={'Global_Sales;': 'Global_Sales'})
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74;
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24;
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82;
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33;
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37;
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01;
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01;
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01;
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01;
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01;

In [115]:
df["Global_Sales"] = df["Global_Sales"].str.strip(";")

In [116]:
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01